#corpo {
  position: relative;
  height: 82vh;
  padding: 10px;
}
.fundo {
  position: relative;
  margin-top: -93vh;
  top: 0;
  left: 0;
  z-index: -1;
  height: 85vh;
  opacity: 0.3;
  background: url("../img/5193138.jpg") no-repeat 0px 0px/100vw 85vh transparent;
}
.conteudo{
  width: 80vw;
  height: 70vh;
  margin: 0 auto;
  background-color: white;
  padding: 10px;
  border: 2px solid silver;
  border-radius: 5px;
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}
.conteudo-pequeno{
  width: 30vw;
  height: 70vh;
  margin: 0 auto;
  background-color: white;
  padding: 20px;
  border: 2px solid silver;
  border-radius: 5px;
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}
.al-dir{
  text-align: right;
}