.linha{
    display: flex;
    flex-direction: row;
}
.coluna, .col-titulo{
    width: 20%;
    padding: 1px;
    margin: 1px;
    background-color: rgba(188, 143, 143, 0.253)
}
.col-titulo{
    text-align: center;
    font-weight: bold;
}
table, .tabela {
    width: 50%;
}
.md-80{
    width: calc(80% + 21px)
}
.md-20{
    width: 20%;
}
td, th, .coluna, .col-titulo{
    border: 1px solid rgba(0, 0, 0, 0.281)
}